# Allen Cell Types Database

This notebook will serve as an introduction to the Allen Cell Types database. We'll work with the AllenSDK to see what information we can gain about our cells.

First, we'll `import` the CellTypesCache module. This module provides tools to allow us to get information from the cell types database. We're giving it a **manifest** filename as well. CellTypesCache will create this manifest file, which contains metadata about the cache. You can look under cell_types in your directory, and take a look at the file.

(If you're curious you can see the full documentation for the core package <a href="https://allensdk.readthedocs.io/en/latest/allensdk.core.html">here</a>.)

<b>Note</b>: In order to run the line below, you need to have the AllenSDK installed. You can find information on how to do that <a href="http://alleninstitute.github.io/AllenSDK/install.html">here</a>. If you're running this on the UCSD Datahub, the Allen SDK has already been installed for you.

In [1]:
#Import the "Cell Types Cache" from the AllenSDK core package
from allensdk.core.cell_types_cache import CellTypesCache

#Import CellTypesApi, which will allow us to query the database.
from allensdk.api.queries.cell_types_api import CellTypesApi

# We'll then initialize the cache as 'ctc' (cell types cache)
ctc = CellTypesCache(manifest_file='cell_types/manifest.json')

## Step One: Get Cells & Manipulate Dataframe

Look through <a href="https://allensdk.readthedocs.io/en/latest/allensdk.core.cell_types_cache.html">the documentation for the CellTypesCache</a> for information on the `get_cells` method.

Use the get_cells method in the cell below to get information about all of the human cells in the database. Assign the output of this to `human_cells`, and look at the output when it is done.

In [2]:
human_cells = ctc.get_cells(species=[CellTypesApi.HUMAN])

Chances are, your output looks a bit messy. This is where pandas can really come in handy! Convert `human_cells` into a Pandas Dataframe by:
1. Importing `pandas` as `pd`
2. Creating a dataframe with `pd.DataFrame()`
3. Assigning that dataframe to `human_df`
4. Showing the first five rows of the df using the `.head()` method.

Note: If you're having trouble with Pandas, it can help to look at <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/">the user guide</a>.

In [3]:
import pandas as pd

human_df = pd.DataFrame(human_cells)
human_df.head()

,reporter_status,cell_soma_location,species,id,name,structure_layer_name,structure_area_id,structure_area_abbrev,transgenic_line,dendrite_type,apical,reconstruction_type,disease_state,donor_id,structure_hemisphere,normalized_depth
0,None,"[273.0, 354.0, 216.0]",Homo Sapiens,525011903,H16.03.003.01.14.02,3,12113,FroL,,spiny,intact,None,epilepsy,524848408,right,NaN
1,None,"[69.0, 254.0, 96.0]",Homo Sapiens,528642047,H16.06.009.01.02.06.05,5,12141,MTG,,aspiny,NA,None,epilepsy,528574320,left,NaN
2,None,"[322.0, 255.0, 92.0]",Homo Sapiens,537256313,H16.03.006.01.05.02,4,12141,MTG,,spiny,truncated,None,epilepsy,536912860,right,NaN
3,None,"[79.0, 273.0, 91.0]",Homo Sapiens,519832676,H16.03.001.01.09.01,3,12141,MTG,,spiny,truncated,full,epilepsy,518641172,left,0.290951
4,None,"[66.0, 220.0, 105.0]",Homo Sapiens,596020931,H17.06.009.11.04.02,4,12141,MTG,,aspiny,NA,full,tumor,595954915,left,0.497825

Let's get some information about our cells. We can use `len()` on a dataframe to get the number of rows. Alternatively, we can use the `count()` method on our dataframe to get detailed information for each column. For our purposes today, let's just get the number of rows, which is equivalent to the number of observations. 

1. Use the `count()` method to see how many observations there are in each of the columns. Why might some be missing?
2. Use `len()` to see the length of the whole dataframe and assign the output to `n_human_cells`.

In [4]:
print(human_df.count())
n_human_cells = len(human_df)
print('\nLength of dataframe:')
print(n_human_cells)

reporter_status            0
cell_soma_location       413
species                  413
id                       413
name                     413
structure_layer_name     413
structure_area_id        413
structure_area_abbrev    413
transgenic_line          413
dendrite_type            413
apical                   413
reconstruction_type      158
disease_state            413
donor_id                 413
structure_hemisphere     413
normalized_depth         162
dtype: int64

Length of dataframe:
413

At the moment, our rows don't have any useful information -- they're simply a list of indices. We can reassign the row values by using the method `set_index`. Execute this method, and reassign your dataframe as `human_df`.

In [5]:
human_df = human_df.set_index('id')
human_df.head()

,reporter_status,cell_soma_location,species,name,structure_layer_name,structure_area_id,structure_area_abbrev,transgenic_line,dendrite_type,apical,reconstruction_type,disease_state,donor_id,structure_hemisphere,normalized_depth
id,,,,,,,,,,,,,,,
525011903,None,"[273.0, 354.0, 216.0]",Homo Sapiens,H16.03.003.01.14.02,3,12113,FroL,,spiny,intact,None,epilepsy,524848408,right,NaN
528642047,None,"[69.0, 254.0, 96.0]",Homo Sapiens,H16.06.009.01.02.06.05,5,12141,MTG,,aspiny,NA,None,epilepsy,528574320,left,NaN
537256313,None,"[322.0, 255.0, 92.0]",Homo Sapiens,H16.03.006.01.05.02,4,12141,MTG,,spiny,truncated,None,epilepsy,536912860,right,NaN
519832676,None,"[79.0, 273.0, 91.0]",Homo Sapiens,H16.03.001.01.09.01,3,12141,MTG,,spiny,truncated,full,epilepsy,518641172,left,0.290951
596020931,None,"[66.0, 220.0, 105.0]",Homo Sapiens,H17.06.009.11.04.02,4,12141,MTG,,aspiny,NA,full,tumor,595954915,left,0.497825

It would help to know what information is in our dataset. In other words, what is across the columns at the top? We can get a list by accessing the attribute `.columns`. Assign the output of this method to `human_df_columns`.

In [6]:
human_df_columns = human_df.columns

We can access individual columns with the notation `dataframe['column name']`. Check out the `dendrite_type` column by using this notation.

In [7]:
human_df['dendrite_type']

id
525011903     spiny
528642047    aspiny
537256313     spiny
519832676     spiny
596020931    aspiny
              ...
545612828     spiny
527952884     spiny
488701127     spiny
561469082    aspiny
601958555     spiny
Name: dendrite_type, Length: 413, dtype: object

Like numpy arrays, we can use boolean indexing to filter our pandas dataframe. Our dataframe has data on two different dendrite types. Filter your dataframe by using the following syntax:
```
new_df = original_df[original_df['Column of Interest'] == 'Desired Value']
```
In plain english, what this is saying is: save a dataframe from the original dataframe, where the original dataframe values in my Column of Interest are equal to my Desired Value.

1. Assign your new dataframe and give it a reasonable name.
2. Create a second dataframe for the *other* dendrite type.

In [8]:
spiny_df = human_df[human_df['dendrite_type']=='spiny']
spiny_df.head()

,reporter_status,cell_soma_location,species,name,structure_layer_name,structure_area_id,structure_area_abbrev,transgenic_line,dendrite_type,apical,reconstruction_type,disease_state,donor_id,structure_hemisphere,normalized_depth
id,,,,,,,,,,,,,,,
525011903,None,"[273.0, 354.0, 216.0]",Homo Sapiens,H16.03.003.01.14.02,3,12113,FroL,,spiny,intact,None,epilepsy,524848408,right,NaN
537256313,None,"[322.0, 255.0, 92.0]",Homo Sapiens,H16.03.006.01.05.02,4,12141,MTG,,spiny,truncated,None,epilepsy,536912860,right,NaN
519832676,None,"[79.0, 273.0, 91.0]",Homo Sapiens,H16.03.001.01.09.01,3,12141,MTG,,spiny,truncated,full,epilepsy,518641172,left,0.290951
569095789,None,"[110.0, 122.0, 240.0]",Homo Sapiens,H17.06.004.11.05.04,2,12136,AnG,,spiny,intact,full,tumor,569008241,left,0.056400
545608578,None,"[312.0, 280.0, 89.0]",Homo Sapiens,H16.03.010.13.06.01,3,12141,MTG,,spiny,intact,None,epilepsy,545510854,right,NaN

In [9]:
aspiny_df = human_df[human_df['dendrite_type']=='aspiny']
aspiny_df.head()

,reporter_status,cell_soma_location,species,name,structure_layer_name,structure_area_id,structure_area_abbrev,transgenic_line,dendrite_type,apical,reconstruction_type,disease_state,donor_id,structure_hemisphere,normalized_depth
id,,,,,,,,,,,,,,,
528642047,None,"[69.0, 254.0, 96.0]",Homo Sapiens,H16.06.009.01.02.06.05,5,12141,MTG,,aspiny,NA,None,epilepsy,528574320,left,NaN
596020931,None,"[66.0, 220.0, 105.0]",Homo Sapiens,H17.06.009.11.04.02,4,12141,MTG,,aspiny,NA,full,tumor,595954915,left,0.497825
576095991,None,"[274.0, 331.0, 228.0]",Homo Sapiens,H17.06.007.11.08.01,5,12116,MFG,,aspiny,NA,full,tumor,576060516,right,0.673428
531520637,None,"[127.0, 354.0, 219.0]",Homo Sapiens,H16.06.007.01.05.03,3,12113,FroL,,aspiny,NA,full,tumor,518229880,left,0.388676
596049209,None,"[66.0, 220.0, 105.0]",Homo Sapiens,H17.06.009.11.04.05,1,12141,MTG,,aspiny,NA,None,tumor,595954915,left,NaN

## Step Two: Get Electrophysiology Data

At this point, you might have realized that this dataframe doesn't contain any data about the electrophysiology -- it's just metadata about the cells. In order to get information about the electrophysiological properties of these cells, we need to use the `get_ephys_features()` method on our instance of the cell types cache.

1. Execute the `get_ephys_features` method on our cell types instance and assign the output of this to `ephys_features`.
2. Convert `ephys_features` into a pandas dataframe.
3. Re-assign the index to be the column labeled 'specimen_id' of the cell (and reassign to `ephys_features`). 'specimen_id' is the label that can link this dataframe to our metadata (human_df) dataframe.

In [10]:
ephys_features = pd.DataFrame(ctc.get_ephys_features()).set_index('specimen_id')
ephys_features.head()

,adaptation,avg_isi,electrode_0_pa,f_i_curve_slope,fast_trough_t_long_square,fast_trough_t_ramp,fast_trough_t_short_square,fast_trough_v_long_square,fast_trough_v_ramp,fast_trough_v_short_square,...,trough_t_ramp,trough_t_short_square,trough_v_long_square,trough_v_ramp,trough_v_short_square,upstroke_downstroke_ratio_long_square,upstroke_downstroke_ratio_ramp,upstroke_downstroke_ratio_short_square,vm_for_sag,vrest
specimen_id,,,,,,,,,,,,,,,,,,,,,
529878215,NaN,134.700000,22.697498,8.335459e-02,1.187680,13.295200,1.025916,-56.375004,-57.385420,-57.431251,...,13.295680,1.134780,-56.593754,-57.739586,-74.143753,3.029695,3.061646,2.969821,-80.468750,-73.553391
548459652,NaN,NaN,-24.887498,-3.913630e-19,1.099840,20.650105,1.025460,-54.000000,-54.828129,-54.656254,...,20.650735,1.160940,-55.406254,-55.242191,-73.500000,2.441895,2.245653,2.231575,-84.406258,-73.056595
579978640,0.009770,39.044800,-46.765002,5.267857e-01,1.157840,2.551310,1.025387,-59.500000,-58.234378,-59.940975,...,2.551960,1.089851,-60.062500,-58.570314,-61.371531,2.023762,2.162878,2.006406,-93.375008,-60.277321
439024551,-0.007898,117.816429,5.996250,1.542553e-01,1.989165,9.572025,1.028733,-47.531250,-50.359375,-65.500000,...,9.576308,1.423229,-49.406254,-52.718752,-75.273443,3.105931,3.491663,1.733896,-87.656250,-75.205559
515188639,0.022842,68.321429,14.910000,1.714041e-01,1.081980,2.462880,1.025620,-48.437504,-46.520837,-51.406253,...,2.490433,1.479690,-53.000004,-54.645837,-64.250003,3.285760,3.363504,4.234701,-81.625008,-63.474991

Now we have two dataframes, one with the metadata for human cells (indexed by id) and another with the electrophysiology data for all cells, also indexed by id. Usefully, these ids are unique to each cell, meaning we can match them across dataframes.

We can use either the `merge` or `join` pandas methods in order to pull all of this data into one dataframe. 

![](http://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)

There are different types of joins/merges you can do in pandas, illustrated <a href="http://www.datasciencemadesimple.com/join-merge-data-frames-pandas-python/">above</a>. Here, we want to do an **inner** merge, where we're only keeping entries with indices that are in both dataframes. We could do this merge based on columns, alternatively.

**Inner** is the default kind of join, so we do not need to specify it. And by default, join will use the 'left' dataframe, in other words, the dataframe that is executing the `join` method.

If you need more information, look at the <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html">join</a> and <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html">merge</a> documentation: you can use either of these to unite your dataframes, though join will be simpler!

In [11]:
human_ephys_features = human_df.join(ephys_features)
human_ephys_features.head()

,reporter_status,cell_soma_location,species,name,structure_layer_name,structure_area_id,structure_area_abbrev,transgenic_line,dendrite_type,apical,...,trough_t_ramp,trough_t_short_square,trough_v_long_square,trough_v_ramp,trough_v_short_square,upstroke_downstroke_ratio_long_square,upstroke_downstroke_ratio_ramp,upstroke_downstroke_ratio_short_square,vm_for_sag,vrest
id,,,,,,,,,,,,,,,,,,,,,
525011903,None,"[273.0, 354.0, 216.0]",Homo Sapiens,H16.03.003.01.14.02,3,12113,FroL,,spiny,intact,...,4.134987,1.375253,-53.968754,-59.510420,-71.197919,2.895461,2.559876,3.099787,-88.843758,-70.561035
528642047,None,"[69.0, 254.0, 96.0]",Homo Sapiens,H16.06.009.01.02.06.05,5,12141,MTG,,aspiny,NA,...,NaN,1.051160,-67.468758,NaN,-70.875002,1.891881,NaN,1.989616,-101.000000,-69.209610
537256313,None,"[322.0, 255.0, 92.0]",Homo Sapiens,H16.03.006.01.05.02,4,12141,MTG,,spiny,truncated,...,5.694547,1.389900,-52.125004,-51.520836,-72.900002,3.121182,3.464528,3.054681,-87.531250,-72.628105
519832676,None,"[79.0, 273.0, 91.0]",Homo Sapiens,H16.03.001.01.09.01,3,12141,MTG,,spiny,truncated,...,9.962780,1.211020,-53.875004,-52.416668,-73.693753,4.574865,3.817988,4.980603,-84.218758,-72.547661
596020931,None,"[66.0, 220.0, 105.0]",Homo Sapiens,H17.06.009.11.04.02,4,12141,MTG,,aspiny,NA,...,14.667340,1.336668,-63.593754,-63.239583,-75.518753,1.452890,1.441754,1.556087,-82.531250,-74.260269

## Step Three: Confirm the data and take a look!

As a result, you should have a dataframe called 'human_ephys_features' that contains metadata about your cells, as well as their electrophysiological properties.

1. Confirm that you have right amount of data by checking it's length using a Boolean to test whether it is equal to `n_human_cells` that you assigned above.
2. Confirm that you have all of the columns from *both* the human_df and ephys_features dataframes programmatically. Remember that you can get the columns by accessing the `columns` attribute, and that you already assigned the human_df columns to a variable above. There are a few different ways to do this!
3. Confirm that the only 'species' in your `human_ephys_features` dataframe is 'Homo Sapiens'. You can use the `unique()` method to show unique values in a column.

In [124]:
import numpy as np

print('Is the length the same?')
print(n_human_cells == len(human_ephys_features))

all_columns = list(ephys_features.columns)+list(human_df_columns)
complete_df_column_list = list(human_ephys_features.columns)

print('\nAre all of the columns there?')
print(all_columns.sort() == complete_df_column_list.sort())

print('\nWhat species are here?')
print(human_ephys_features['species'].unique())

Is the length the same?
True

Are all of the columns there?
False

What species are here?
['Homo Sapiens']

*Finally*, let's take a look at the data. You can use the `describe()` method to show the basic statistics for your cells. We'll start plotting these metrics next week!

In [123]:
human_ephys_features.describe()

,structure_area_id,donor_id,normalized_depth,adaptation,avg_isi,electrode_0_pa,f_i_curve_slope,fast_trough_t_long_square,fast_trough_t_ramp,fast_trough_t_short_square,...,trough_t_ramp,trough_t_short_square,trough_v_long_square,trough_v_ramp,trough_v_short_square,upstroke_downstroke_ratio_long_square,upstroke_downstroke_ratio_ramp,upstroke_downstroke_ratio_short_square,vm_for_sag,vrest
count,411.000000,4.110000e+02,162.000000,284.000000,355.000000,408.000000,4.110000e+02,411.000000,410.000000,411.000000,...,410.000000,411.000000,411.000000,410.000000,411.000000,411.000000,410.000000,411.000000,411.000000,411.000000
mean,12137.425791,5.454985e+08,0.343733,0.132434,109.181437,-6.592265,1.748050e-01,1.183203,8.173338,1.025558,...,8.197537,1.257916,-56.080979,-56.333190,-67.829391,3.241860,3.202384,3.154211,-85.228258,-69.626723
std,8.942702,3.213331e+07,0.213355,0.206397,123.696064,45.151478,1.773338e-01,0.122218,5.730052,0.001776,...,5.735141,0.230183,5.189699,4.580065,8.010797,0.967748,0.983768,0.880582,7.499865,4.591719
min,12113.000000,4.869091e+08,0.005808,-0.056414,4.666667,-536.389988,-2.001092e-18,1.033480,1.289113,1.023585,...,1.296327,1.023744,-70.750008,-69.864586,-83.132818,1.127131,0.885542,1.227955,-108.812500,-82.766602
25%,12141.000000,5.277470e+08,0.164336,0.018114,32.100632,-26.146875,5.436276e-02,1.118670,3.798835,1.025005,...,3.825048,1.100160,-59.062500,-58.247398,-72.843232,2.606817,2.650170,2.611565,-90.265633,-72.564693
50%,12141.000000,5.395229e+08,0.289369,0.054291,73.993333,-0.776250,1.087121e-01,1.155080,6.811267,1.025404,...,6.848477,1.164308,-55.375004,-55.458337,-70.100002,3.301126,3.259311,3.194418,-84.781250,-70.263268
75%,12141.000000,5.698006e+08,0.505001,0.141566,138.051667,17.734375,2.451026e-01,1.209630,10.975813,1.025828,...,10.997857,1.417662,-52.968750,-53.485681,-64.947920,3.953657,3.859804,3.784997,-79.718750,-66.571411
max,12147.000000,6.434887e+08,0.869488,0.975859,905.200000,149.337501,9.746466e-01,1.967520,29.809180,1.047168,...,29.809360,1.935630,-41.531254,-46.635417,-43.023439,5.808203,5.514112,5.281676,-65.531250,-55.762165